.image-row.image-row-book {
  margin-top: 1.6rem;
  margin-bottom: 1.6rem;

  .image-row-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .image-one {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(33.3333333% - 1rem);
      margin-right: 1rem;
    }
  }

  .image-two {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(33.3333333% - 1rem);
      margin-right: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  .image-three {
    width: calc(100%);

    @media (min-width: 768px) {
      width: calc(33.3333333% - 1rem);
      margin-left: 1rem;
    }
  }

  .image-row-image {
    position: relative;
    height: 41rem;
    margin-bottom: 2rem;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }

    &-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        z-index: 1;
      }
    }
  }
}
