@use "../abstracts";
@use "../utils";

.headline-all {
  color: abstracts.$blackColor;
  font-family: abstracts.$secondaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.25;
}

.hl-one {
  @extend .headline-all;
  @include utils.font-sizer(4, 4.8, 76.8, 150, 3.6);
  line-height: 1.35;
  letter-spacing: -0.29px;
}

.hl-two {
  @extend .headline-all;
  @include utils.font-sizer(3, 4, 76.8, 150, 2.8);
  line-height: 1.25;
}

.hl-three {
  @extend .headline-all;
  @include utils.font-sizer(2.4, 2.8, 76.8, 150, 2.4);
  line-height: 1.36;
}

.hl-four {
  @extend .headline-all;
  @include utils.font-sizer(2, 2.4, 76.8, 150, 2);
  line-height: 1.25;
}
