@use "../abstracts";
@use "../utils";

.paragraph-all {
  color: abstracts.$blackColor;
  font-family: abstracts.$primaryFont;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
}

.p-one,
.p1 {
  @extend .paragraph-all;
  @include utils.font-sizer(2.2, 2.5, 76.8, 150, 2.2);
  line-height: 1.28;
}

.p-two,
.p2 {
  @extend .paragraph-all;
  @include utils.font-sizer(1.8, 2.2, 76.8, 150, 1.8);
  line-height: 1.45;
}

.p-three,
.p3 {
  @extend .paragraph-all;
  @include utils.font-sizer(1.6, 1.9, 76.8, 150, 1.6);
  line-height: 1.44;
}
