---
import Headline from "../shared/Headline.astro";
import Wrapper from "../shared/Wrapper.astro";
import "./basicContent.scss";
---

<div class="not-found-main">
  <Wrapper>
    <div class="not-found-main-title">
      <h2>Page Not Found</h2>
    </div>
    <div class="not-found-main-content">
      <p>Here is your way back <a href="/">home</a></p>
    </div>
  </Wrapper>
</div>
