@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.hero-intro {
  position: relative;
  min-height: 75rem;
  overflow: hidden;

  @media (min-width: 768px) {
    min-height: 65rem;
  }

  @media (min-width: 1024px) {
    min-height: 90rem;
  }

  @media (min-width: 1400px) {
    min-height: 65vw;
  }

  &-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;

    &-img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      z-index: 1;
    }
  }
}
