---
import { Image } from "astro:assets";

const { content, iconSrc, iconAlt } = Astro.props;
---

<div class="intro-points-point">
  <div class="intro-points-point-icon">
    <Image
      src={iconSrc}
      alt={iconAlt}
      format="webp"
      widths={[800, 1200, 1600, 2000]}
      sizes="100vw"
      loading="eager"
      inferSize={true}
      class=""
    />
  </div>
  <div class="intro-points-point-content" set:html={content} />
</div>
