$primaryColor: #ea7f1d;
$secondaryColor: #7b6456;
$tertiaryColor: #33261d;
$accentColor: #636466;
$shadowColor: #ea7f1d;
$blackColor: #000;
$whiteColor: #fff;
$creamColor: #dbe0d6;
$greyColor: #6c6d70;
$greyBrownColor: #403f3f;
