@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.content-links.content-links-about {
  .content-links-title {
    width: 100%;

    h2 {
      color: $primaryColor;
    }
  }

  .content-links-paragraphs {
    width: 100%;

    p {
      @extend .p-one;
    }
  }

  .content-links-buttons {
    width: 100%;

    a {
      margin-right: 5rem;

      @media (min-width: 768px) {
        margin-right: 0;
      }
    }
  }
}
