@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.about-us {
  &-title {
    width: 100%;

    h2 {
      color: $secondaryColor;
    }
  }

  &-content {
    width: 100%;

    p {
      color: $secondaryColor;
    }
  }
}
