---
import Headline from "../components/common/shared/Headline.astro";
import Paragraph from "../components/common/shared/Paragraph.astro";
import Wrapper from "../components/common/shared/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>West Country RV Rentals</h1>
  <Wrapper>
    <div>
      <Headline ele="h2" hlstyle="one"
        >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</Headline
      >
      <Headline ele="h2" hlstyle="two"
        >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</Headline
      >
      <Headline ele="h2" hlstyle="three"
        >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</Headline
      >
      <Headline ele="h2" hlstyle="four"
        >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</Headline
      >
      <Paragraph ele="p" pstyle="one">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
        hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
        vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
        laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.
      </Paragraph>
      <Paragraph ele="p" pstyle="two">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
        hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
        vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
        laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.
      </Paragraph>
      <Paragraph ele="p" pstyle="three">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus
        hendrerit. Pellentesque aliquet nibh nec urna. In nisi neque, aliquet
        vel, dapibus id, mattis vel, nisi. Sed pretium, ligula sollicitudin
        laoreet viverra, tortor libero sodales leo, eget blandit nunc tortor eu
        nibh. Nullam mollis. Ut justo. Suspendisse potenti.
      </Paragraph>
    </div>
  </Wrapper>
</Layout>
