---
import Button from "../components/common/shared/Button.astro";
import Headline from "../components/common/shared/Headline.astro";
import Paragraph from "../components/common/shared/Paragraph.astro";
import Wrapper from "../components/common/shared/Wrapper.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>West Country RV Rentals</h1>
</Layout>
