@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.location-map {
  position: relative;

  &-link {
    position: absolute;
    bottom: 0rem;
    right: 0;

    @media (min-width: 768px) {
      bottom: 7.5rem;
    }
  }
}
