---
import Wrapper from "../../common/shared/Wrapper.astro";
import "./bookingEmbed.scss";
---

<div>
  <Wrapper>
    <div>
      <wheelbase-store dealer-id="477629" locale="en-ca"></wheelbase-store>
    </div>
  </Wrapper>
</div>

<!-- Wheelbase Widget Integration -->
<script
  type="module"
  src="https://d2toxav8qvoos4.cloudfront.net/latest/wheelbase-widget.js"
></script>
