---
import Wrapper from "../../common/shared/Wrapper.astro";
import "./bookingEmbed.scss";

const { data } = Astro.props;
---

<div class="booking-embed">
  <Wrapper>
    <div class="booking-embed-app">
      <wheelbase-store dealer-id="477629" locale="en-ca"></wheelbase-store>
    </div>
    <div class="booking-embed-rental-agreement">
      <p>
        Downlaod Rental agreement here. <a
          target="_blank"
          rel="noopener"
          href={data.rentalAgreement.node.mediaItemUrl}
          download="rental-agreement.pdf">Rental agreement</a
        >
      </p>
    </div>
  </Wrapper>
</div>

<!-- Wheelbase Widget Integration -->
<script
  type="module"
  src="https://d2toxav8qvoos4.cloudfront.net/latest/wheelbase-widget.js"
></script>
