@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.contact-form-display {
  padding: 4.1rem 0;
  background-color: $whiteColor;

  &-wrapper {
    max-width: 115rem !important;
  }

  &-intro {
    width: 100%;

    h2 {
      @extend .hl-three;
      font-weight: 600;
    }

    p {
      @extend .p-one;
    }
  }
}
