---
import "./outroHero.scss";
import { Image } from "astro:assets";

const { image, content } = Astro.props.data;

const heroImageSrc = image?.node?.sourceUrl;
const heroAlt = image?.node?.altText || "";
---

<div class="outro-hero outro-hero-contact">
  <div class="outro-hero-image">
    <div>
      <Image
        src={heroImageSrc}
        alt={heroAlt}
        format="webp"
        widths={[800, 1200, 1600, 2000]}
        sizes="100vw"
        loading="eager"
        inferSize={true}
        class=""
      />
    </div>
    <div>
      <div class="outro-hero-content" set:html={content} />
    </div>
  </div>
</div>
