@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/headlines";
@use "../../../styles/global/paragraphs";

.side-by-side {
  padding: 4rem 0;

  &-left {
    width: calc(50% - 3rem);
    margin-right: 3rem;

    h2 {
      color: $secondaryColor;
    }

    p {
      @extend .p-one;
      color: $secondaryColor;
    }
  }

  &-right {
    width: calc(50% - 3rem);
    margin-left: 3rem;

    h2 {
      color: $secondaryColor;
    }

    p {
      @extend .p-one;
      color: $secondaryColor;
    }
  }
}
