@use "../../../styles/abstracts/" as *;
@use "../../../styles/global/buttons";
@use "../../../styles/global/paragraphs";

.social-media {
  width: 100%;

  &-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  &-link {
    margin-right: 0.5rem;
    padding: 0 0.5rem;

    a {
      display: block;
      position: relative;
      width: 5rem;
      height: 5rem;
      padding: 1rem;
      border-radius: 50%;
      background-color: $primaryColor;

      @media (min-width: 768px) {
        width: 5rem;
        height: 5rem;
      }
      @media (min-width: 1025px) {
        width: 5rem;
        height: 5rem;
        padding: 1.25rem;
      }

      &:focus {
        outline: 0.4rem solid $tertiaryColor;
        transition: outline-width 0.35s ease-in-out;
      }

      svg {
        transition: all 0.3s ease-in;
        fill: $whiteColor;
      }

      &:hover {
        background-color: $tertiaryColor;

        svg {
          fill: $whiteColor;
        }
      }

      .visuallyhidden {
        border: 0;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      }
    }
  }
}
