@use "../../../../styles/abstracts/" as *;
@use "../../../../styles/global/headlines";

.menu-links-item {
  text-align: center;
  border-bottom: 0.1rem solid $secondaryColor;

  .menu-links-item-list {
    position: relative;
    width: 100%;

    .sub-menu-open-btn {
      position: absolute;
      right: 0;
      top: 0.5rem;
      width: 4rem;
      height: 4rem;
      transition: all 0.3s ease-in-out;
      background-color: $primaryColor;
      border: 0.1rem solid $primaryColor;
      border-radius: 50%;
      color: $whiteColor;
      font-size: 2rem;
      line-height: 1;
      cursor: pointer;

      &:hover {
        background-color: $secondaryColor;
      }
    }

    .menu-links-item-link {
      @extend .hl-three;
      display: block;
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      color: $blackColor;
      cursor: pointer;
      text-transform: uppercase;

      &:hover {
        color: $primaryColor;
      }

      &.menu-links-item-link-current {
        color: $primaryColor;
      }
    }
  }
}
